<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" Content-Type="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tablero de Juego</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        
    </head>
    <body>
        <div class="tablero">
            <!-- Vamos a combinar los índices de los bucles anidados de fila y casilla para crear IDs únicos -->
            {% for casilla in casillas %}
                <div class="casilla {{ casilla.tipo}}"
                    data-tipo="{{ casilla.tipo }}"
                    id="{{ casilla.casilla_id}}" 
                    data-re1="{{ casilla.re1 }}" 
                    data-re2="{{ casilla.re2 }}"
                    data-columna="{{ casilla.columna }}" 
                    data-fila="{{ casilla.fila }}"
                    data-numero="{{ casilla.numero }}" 
                    data-esp1="{{ casilla.esp1 }}" 
                    data-esp2="{{ casilla.esp2 }}">
                    {{ casilla.numero }}
                </div>
            {% endfor %}
        </div>

        <div id="fichas">
            {% for ficha in fichas %}
                <div class="ficha jugador-{{ ficha.jugador_id }}"
                     id="{{ ficha.ficha_id }}"
                     data-jugador="{{ ficha.jugador_id }}"
                     data-posicion="{{ ficha.posicion }}"
                     data-numero="{{ ficha.numero }}">
                    {{ ficha.ficha_id }}
                </div>
            {% endfor %}
        </div>
        
        <div id="estado-juego">
            <p id="turno-actual">Turno actual: Jugador 1</p>
        </div>
        <div id="contador-jugador-1">
            Jugador 1: 0 fichas en -1
        </div>
        <div id="contador-jugador-2">
            Jugador 2: 0 fichas en -1
        </div>

        <h2>Últimos Tiros de Dados</h2>
        <table id="tabla_tiros">
            <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Dado 1</th>
                    <th>Dado 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">No hay tiros recientes</td>
                </tr>
            </tbody>
        </table>
        
        <h3>Depuración de Movimientos</h3>
        <table class="tDebug" id="tabla-debug">
            <thead>
                <tr>
                    <th>Ficha</th>
                    <th>Posición</th>
                    <th>Columna</th>
                    <th>Fila</th>
                </tr>
            </thead>
            <tbody>
            <!-- Los datos se llenarán dinámicamente -->
            </tbody>
        </table>

        <button id="boton-tirar-dados-jugador-1">Tirar Dados (Jugador 1)</button>
        <button id="boton-tirar-dados-jugador-2">Tirar Dados (Jugador 2)</button>
        <button id="boton-fichas">Iniciar</button>

        <div class="dados-container">
            <div class="dado" id="dado-1">0</div>
            <div class="dado" id="dado-2">0</div>
        </div>

        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script type="module" src="{{ url_for('static', filename='./app.js') }}"></script>
        
        
       
    </body>

</html>
